{% extends 'base.html' %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<h1>Are you sure you want to delete "{{ material.specification }}"?</h1>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
</form>
<a href="{% url 'material_list' sqf_type=material.sqf_type %}" class="btn btn-secondary">Cancel</a>
{% endblock %}
