{% extends 'base.html' %}

{% block title %}SQF 120{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="container">
    <h1>SQF 120</h1>
    <p>This is the SQF 120 page.</p>
    <a href="{% url 'home' %}" class="btn btn-link">Back to Home</a>
</div>
{% endblock %}
